{% extends 'layouts/base.html' %} {% block content %}
<h1>Home</h1>

<p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam, itaque.
  Expedita autem repellat quia, sequi vel incidunt reiciendis qui nemo
  distinctio obcaecati maxime corporis accusamus necessitatibus commodi
  voluptates repudiandae architecto adipisci est ea placeat dolorum, odio dolore
  debitis. Recusandae voluptatum praesentium quas, debitis repudiandae explicabo
  modi rerum magni esse ut dolorum illo quam nulla quaerat repellendus
  voluptatem exercitationem non corporis quo maiores reprehenderit fugiat
  distinctio nisi! Adipisci corrupti odio nulla odit ab, autem assumenda dolores
  dicta quidem. Officiis dolores velit ipsam aut suscipit, voluptates natus?
  Nobis vero expedita facilis ipsam delectus, consectetur alias quidem vel
  consequatur, voluptate non, ab magnam.
</p>

{% endblock %}
